# Ignore test and sample files
test/
samples/

# Ignore GitHub workflows and configs
.github/

# Ignore development config files
.prettierrc.json
.editorconfig
.gitignore
.npmignore
.prettierignore

# Ignore lock files
pnpm-lock.yaml

# Ignore README and other docs/license files
*.md
